<% @products.each do |product| %>
  
  <div class="col-sm-2 col-md-4">
    <%= image_tag(product.image_url, class: "img-responsive") unless product.image_url.blank? %>
    <h4><%= product.name %></h4>
    <h5><%= product.description %></h5>
    <h5><strong><%= product.colour %></strong></h5>
    <h5><strong><%= product.price %></strong></h5>
  </div><!-- /col -->
 <% end %>